.science0 {
    display: flex;
    justify-content: space-between;
    background: url('https://png.pngtree.com/thumb_back/fh260/background/20210214/pngtree-plant-palm-leaf-simple-background-image_559516.jpg');
    height: 1000px;
}

.science1{
    height: 450px;
    text-align: center;
    width: 450px;
    margin-top: 50px;
    margin-left: 120px;
    font-weight: 600;
   background: rgb(146, 178, 219);
    
}
.science2{
    margin-top: 500px;
    height: 300px;
    width: 400px;
    text-align: center;
    margin-right: 70px;
    background: lightsteelblue;
}
.two h3{
    margin-top: 30px;
    color: white;
}
.arrow{
    font-size: 150px;
    margin-top: 350px;
    color: white;
}