.fullhistory{
    background: lightyellow;
    padding-left: 20px;
    padding-top: 20px;
    width: 90%;
    margin-left: 70px;
}


.imggg{
    margin-left: 250px;
}
.his{
    font-style: italic;
    font-size: 18px;
    font-weight: 700
}
.hist{
    font-style: italic;
}