.newtonlaw{

    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    text-align: center;
    margin-top: 30px;
    
    
}
.principles{
    background: white;
    width: 90%;
    margin-left: 60px;
    padding-left: 30px;
    height: 800px;
    margin-top: 20px;
    padding-top: 20px;
}

.firstlaw{
    background: brown;
    height: 200px;
    width: 300px;
}
.secondlaw{
    background: black;
    height: 200px;
    width: 300px;
}
.thirdlaw{
    background: rgb(10, 61, 15);
    height: 200px;
    width: 300px;
}
.seconddlaw{
    background: black;
    height: 230px;
    width: 300px;
}