.qrst{
    height: 50px;
}
.soc{
    background: url('https://img.freepik.com/free-photo/gold-coins-background_1409-7369.jpg?t=st=1724234854~exp=1724238454~hmac=d04b4356ed40c804285d8d9431b335c760cff9fc650ca12b7dca5b04498bf830&w=996');
    height: 900px;
}