.abcdef{
    width: 600px;
    margin: auto;
    margin-top: 150px;
    padding-top: 20px;
    height: 400px;
    background-color:rgb(245, 216, 221) ;
}
.abcdef h2{
    text-align: center;
    font-weight: 800;
}
.mnopq{
    text-align: center;
    margin-top: 20px;
}
.abcdefg{
    margin-top: 60px;
    margin-left: 100px;
    width: 70%;
}